# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# User-generated content
# ---------------

/content/3_works/[0-9]_*/
/content/3_works/_drafts/
/content/**/*.jpg
/content/**/*.jpeg
/content/**/*.png
/content/**/*.gif
/content/**/*.webp
/content/**/*.svg
/content/**/*.mp4
/content/**/*.mov
/content/**/*.webm
/content/**/*.pdf

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license
/site/config/config.starterkit.test.php

# Dependency directories
# ---------------
node_modules/
vendor/
kirby/
/site/plugins/kirby-seo/
